#linux
.*
nohup.out
#emacs
*~
\#*\#
#vim
*.swp
#git
!.gitignore
!.gitmodules
!.gitkeep
#nodejs
package-lock.json
node_modules
#python
*.pyc
*.ipynb
__pycache__
#custom
*tmp*
data*/*
res*/*
log*/*
mongodb.conf
nopasswd_host_list
start.sh
stop.sh
